[Unit]
Description=Create Virtual AP Interface uap0
Before=hostapd.service
After=network.target

[Service]
Type=oneshot
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=/usr/local/bin/create_uap0.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
